<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"></a>
        <img src="https://i.ibb.co/zRCDGgZ/Pok-dex-Masters-Logo.png" width="50%"
         alt="TOTIDEX logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button>
              <a class="nav-link active" style="background-color:rgb(132, 0, 150);color:white;border-radius: 12px" aria-current="page" routerLink="/" routerLinkActive="active"><i class="fas fa-eye"></i> Toters ou Toterssores</a>
              </button>
            </li>
            <li class="nav-item">
              <button>
              <a class="nav-link" style="background-color:rgb(132, 0, 150);color:white;border-radius: 12px" routerLink="/toters/add" routerLinkActive="active"><i class="fas fa-user-plus"></i>Agregar Toters ou Toterssores</a>
              </button>
            </li>
  
          </ul>
        </div>
      </div>
   </div>
  </nav>