<div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form action="">
        
          <div class="form-group">
            <input type="text" name="nome" [(ngModel)]="toter.nome" placeholder="Nome" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="idade" [(ngModel)]="toter.edade" placeholder="Idade" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="title" [(ngModel)]="toter.local" placeholder="Onde mora?" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <textarea name="description" [(ngModel)]="toter.area" rows="2" placeholder="Info" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="url" name="image URL" [(ngModel)]="toter.image" placeholder="Link de uma foto :)" class="form-control">
          </div>
          <button class="btn btn-success btn-block" (click)="edit ? updateToter() : addToter()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card card-body text-center">
    <img [src]="toter.image == '' ? 'Link da Foto' : toter.image" alt="" class="card-img-top">
      <h3>{{toter.nome == '' ? 'Toter Nome' : toter.nome}}</h3>
      <h3>{{toter.edade == '' ? 'Toter Idade' : toter.edade}}</h3>
      <p> {{toter.local == '' ? 'Onde Mora?' : toter.local}}</p>
      <p> {{toter.area == '' ? 'Info' : toter.area}}</p>
    </div>
  </div>